
<script type="module">
    import 'https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js';

    // Built with Splide
    // https://splidejs.com/
    new Splide( '#splide-{{include.title-id}}',{
        type  : 'loop',
        speed : 600,
    }).mount();
    
</script>
<link href=" https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">

<style>
.game-gallery
{
    display: flex;
}

.game-thumb
{
    padding: 20px 10px;
}

</style>
<div class="game-gallery">

</div>