<style>
.game-tile
{
    display: block;
    text-align: center;
    padding: 20px 50px;
}

.two-wide
{
    display: grid;
    grid-template-columns: auto auto;
}
@media screen and (max-width: 600px)
{
    .two-wide
    {
        display:grid;
        grid-template-columns: auto;
    }
    
}

</style>
<div class="game-gallery">
        <div>
            {% include game-tile.html id="wander-vyrosa" %}
        </div>
       
        <div class="two-wide">
            {% include game-tile.html id="grill-daddy" %}
            {% include game-tile.html id="grill-daddy" %}
        </div>
        

</div>